.container-main {
  display: flex;
}

#container-form {
  width: 100%;
  height: 100px;
}

form {
  position: absolute;
  top: 20px;
  right: 10px;
}

.tableau tr .tableau {
  width: 80%;
  border-collapse: collapse;
}

.tableau th {
  background-color: #c8c4c4;
  padding: 8px;
}

.tableau td {
  padding: 8px;
}

.tableau tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tableau tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

table {
  width: 80%;
}
