/* /////////////////////////// BODY ///////////////////////////// */
div > li {
  list-style-type: none; 
  margin-bottom: 1rem;  
}

.autre-button {
  height: 20px;
}

.tableau {
  width: 80%;
  border-collapse: collapse;
}

.tableau th {
  background-color: #c8c4c4;
  padding: 8px;
}

.tableau td {
  padding: 8px;
}

.tableau tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tableau tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

#container-main {
  display: flex;
}

div#container-eleves {
  margin-bottom: 50px; 
}

#addClasse {
  position: absolute;
  top: 12%;
  right: 7%;
}

th {
  width: 200px;
}

tr td {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  #container-main {
      flex-direction: row;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #container-main {
      flex-direction: column;
  }
  #logo {
      display: none;
  }
}

.form-container {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c8c4c4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 25px;
}

.button:hover {
  background-color: #a8a4a4;
}

div > li a,
div > a.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #FFF;
  text-decoration: none;
  margin-right: 1rem;  
}

div > li a {
  background-color: #007BFF; 
  transition: background-color 0.3s ease;
}

div > li a:hover {
  background-color: #0056b3; 
}

div > a.btn-primary {
  background-color: #007BFF;
  transition: background-color 0.3s ease;
}

div > a.btn-primary:hover {
  background-color: #0056b3;
}

div > a.btn-secondary {
  background-color: #6c757d;
  transition: background-color 0.3s ease;
}

div > a.btn-secondary:hover {
  background-color: #545b62;
}

div > li a i {
  vertical-align: middle; 
}