/*/ //////////////////////////////////////// BODY /////////////////////////////////////////////*/
div > li {
  font-size: 12px;
}

.autre-button {
  height: 20px;
}

.tableau tr .tableau {
  width: 80%;
  border-collapse: collapse;
}

.tableau th {
  background-color: #c8c4c4;
  padding: 8px;
}

.tableau td {
  padding: 8px;
}

.tableau tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tableau tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

#container-main {
  display: flex;
}

#addClasse {
  position: absolute;
  top: 12%;
  right: 7%;
}

.tableau tr .tableau {
  width: 80%;
  border-collapse: collapse;
}

.tableau th {
  background-color: #c8c4c4;
  padding: 8px;
}

.tableau td {
  padding: 8px;
}

.tableau tr:nth-child(even) td {
  background-color: #f2f2f2;
}

.tableau tr:nth-child(odd) td {
  background-color: #e6e6e6;
}

th {
  width: 200px;
}

tr td {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  #container-main {
    flex-direction: row;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #container-main {
    flex-direction: column;
  }
  #logo {
    display: none;
  }
}

.form-container {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c8c4c4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 25px;
}

.button:hover {
  background-color: #a8a4a4;
}


