@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

/* Styles généraux pour tous les appareils */
html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", "Poppins";
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#141e30, #243b55);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.325);
    color: #fcfcfc;
}

#logo {
    width: 40%;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    margin: 15px 0;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-bottom: 10px solid #fff;
    outline: none;
}

label {
    font-size: 19px;
    font-weight: 700;
}

.marginBot {
    width: 70%;
    margin-top: 15px;
    padding: 10px;
    color: rgb(40, 80, 88);
}

/* Styles pour les tablettes */
@media screen and (min-width: 768px) {
    #container {
        width: 70%;
        max-width: 600px;
    }

    #logo {
        width: 80px;
        height: 100px;
        margin-top: 10px;
    }

    .input {
        width: 80%;
        margin: 10px 0;
    }

    #button {
        font-size: 18px;
    }
}

/* Styles pour les ordinateurs de bureau */
@media screen and (min-width: 1025px) {
    #container {
        width: 50%;
        max-width: 800px;
    }

    #logo {
        width: 120px;
        height: 150px;
    }

    .input {
        width: 80%;
    }

    #button {
        font-size: 19px;
    }
}
