/*/////////////////////////////////////////////ALL////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");

* {
  margin: auto;
  font-family: "Rubik", "Poppins";
  text-decoration: none;
}

a {
  text-transform: capitalize;
}

html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#141e30, #243b55);
}

/*/ //////////////////////////////////////// INFOS ELEVES /////////////////////////////////////////////*/

#container-eleves {
  height: 50px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
  margin-left: 20px;
  color: white;
}

button {
  width: 50px;
  height: 30px;
}

i {
  color: black;
}

/*///////////////////////////////////////////HEADER/////////////////////////////////////////////*/

header {
  height: 10vh;
  width: 100vw;
  background-color: whitesmoke;
}

.navbar {
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar a {
  color: rgb(0, 0, 0);
}

.navbar .logo {
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-weight: bold;
  position: absolute;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul {
  display: flex;
  font-size: 20px;
}

.navbar .menu-hamburger {
  display: none;
  width: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (max-width: 900px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    position: absolute;
    top: 21px;
    left: 30px;
  }

  .navbar .menu-hamburger {
    display: block;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(105, 112, 112);
    opacity: 0.95;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

img {
  width: 30px;
}

@media screen and (max-width: 900px) {
  #logout {
    position: absolute;
    top: -20px;
    left: -20px;
  }
}
