<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/adminUserClasse.css" />
    <link rel="stylesheet" href="../../assets/style/main.css" />
  </head>
  <body>
    <div id="container-form">
      <form action="/rechercher" method="get">
        <input type="text" name="q" placeholder="Rechercher..." />
        <input type="submit" value="Rechercher" />
      </form>
    </div>
    <div class="container-main">
      <table class="tableau">
        <tr>
          <th>Image</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Classe</th>
          <th>???</th>
        </tr>
        <tr>
          <td>ddz.jpg</td>
          <td>Agnes</td>
          <td>Yoann</td>
          <td>Dev 2</td>
          <td>ayo fraté</td>
        </tr>
        <tr>
          <td>ddz.jpg</td>
          <td>Princesse</td>
          <td>Benjamin</td>
          <td>Dev 2</td>
          <td>ayo fraté</td>
        </tr>
        <tr>
          <td>ddz.jpg</td>
          <td>Lacrabere</td>
          <td>Jimmy</td>
          <td>Dev 2</td>
          <td>ayo fraté</td>
        </tr>
      </table>
    </div>
  </body>
</html>
